pymongo
numpy
requests
pyjokes
youtube_dl
json_minify
secmail
names
bs4
pillow
gTTS
fancy_text
pytz
websockets
wget
easy_pil
google_trans_new
translate
google_images_search
fancy_text
websocket-client==1.5.1
